/*		for all pages*/
header {
	background: white;
	clear: both;
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	position: relative;
}
header h1 {
	float: left;
	width: auto;
	background-color: #48bfb1;
	color: white;
	margin: 0 100px;
	padding: 32px;
}
header ul {
	float: right;
	/*border: solid;	/*take this out eventually*/
	margin: 20px 100px;
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgrey;
    color: white;
}
section {
	/*position: relative;
	background-color: white;*/
	border: solid;
	height:500px;

}
/*
div {
	position: relative;
	border: solid;
	overflow: hidden;		/*allows for contents to be wrap inside div
}*/

/**************** moving main content box *************/
div.main {
	background-color: white;
	float: left;
	width: 400px;
}
/*
h1 {
	background-color: #48bfb1;
	color: white;
	padding: 25px;
	float: left;
}
*/
body {
	background-image: url("../images/new_year_background.png")
}
img.contact {
	height: 50px;
	width: 50px;
}
/*
.footer {
	background: #666666;
	text-align: center;
	padding:2.5rem;
	position: relative;
	margin-top:5rem;
	right: 0;
	left: 0;
	top:0;
	width: 100%;
	color:#fff;
	border-top:5px solid #48bfb1;
}
*/
/*		for index page */
.mypic {
	height: 200px;
	width: 200px;
	float: left;
}

/*		for portfolio page */
.img1, .img2, .img3, .img4, .img5 {
	background-image: url("../images/tempimg.png");
	background-repeat: no-repeat;
}
/*
.img2 {
	background-image: url("../images/tempimg.png");
	background-repeat: no-repeat;
}
.img3 {
	background-image: url("../images/tempimg.png");
	background-repeat: no-repeat;
}
.img4 {
	background-image: url("../images/tempimg.png");
	background-repeat: no-repeat;
}
.img5 {
	background-image: url("../images/tempimg.png");
	background-repeat: no-repeat;
}*/